<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<center>
    <form>
        <label>
            Emri:
            <input type="text" />
        </label>
        <label>
            Mbiemri:
            <input type="text" />
        </label>

        <label>
            Email:
            <input type="email" />
        </label>
        <label>
            Password:
            <input type="password" />
        </label>

        <input type="submit" value="Register"/>

        <p>Already registered? <a>Log in!</a></p>

    </form>
</center>
</body>
</html>