<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<center>
    <form action="/hotel/registerHotelManager" method="post" th:object="${user}">
        <label>
            Emri:
            <input type="text" th:field="${user.name}" />
        </label> <br>
        <label>
            Mbiemri:
            <input type="text" th:field="${user.lastName}" />
        </label><br>

        <label>
            Email:
            <input type="email" th:field="${user.email}" />
        </label><br>
        <label>
            Password:
            <input type="password" th:field="${user.password}" />
        </label><br>

        <input type="submit" value="Register"/><br>

        <p>Already registered? <a href="/hotel/login">Log in!</a></p><br>
    </form>
    <span style="color: red" th:text="${error}"></span>
</center>
</body>
</html>